*, html, body{
   margin: 0;
   padding: 0;
}

.container{
    display: grid;
    margin: auto;
    width: 100%;
    height: 100vh;
    padding: 5px;
    background: #292e49; 
    grid-template-columns: 0.33fr 2fr 1.5fr;
    grid-template-rows: 0.75fr 0.5fr 6fr;
    grid-template-areas:    
    "nav3 nav3 nav3"
    "nav1 nav1 nav2"
    "sidebar contents1 contents2";
    grid-gap: .3rem;
}


// ======================= Main container Sections =======================================
#nav1{
    background:#24243e;
    grid-area: nav1;
}

#nav2{
    background:#24243e;
    grid-area: nav2;
}

#nav3{
    background: #292e49;
    //border: 1px solid blue;
    grid-area: nav3;
}

#sidebar{
   
    background:#2c3e50;
    grid-area: sidebar;
}

#contents1{
    max-height: 100%;
    overflow: scroll;
    background:#0F2027;
    grid-area: contents1;
}

#contents2{
    //overflow: scroll;
    background:#2c3e50;
    grid-area: contents2;
    display: grid;
    //grid-template-rows: 1fr 1fr;
    grid-template-rows: 1fr .25fr;

    grid-template-areas: 
    
    "sub-grid1"
    "sub-grid2"
    ;

    
    //display: grid;
}





// ======================= Buttons for the sidebar (catergories) =======================================

.btn-primary{
    // margin:1%;
    background:#2c3e50;
     width: 100% !important;
     height: 91px !important;
     text-align: center;
     font-size: 10px;
}

// ======================= Buttons for the menu section (items) =======================================
.btn-item{
    background:#2c3e50;
    width: 20% !important;
    height: 92px !important;
    text-align: center;
    font-size: 10px;

   }








// ======================= Transaction Section (Top) =======================================



#sub-grid1{
    position: absolute;
    
    
    overflow: scroll;
   text-align: center;
   grid-area: sub-grid1;
   grid-row-start: 1;
   grid-row-end: 3;
}

.transactions {
    max-height: 100%;
    width: 100%;
    //border: solid;
    //border-color: blue;
    overflow: scroll;
}


.transactions p{
    //position: relative;
    padding: 3%;
    padding-right: 3%;
    font-weight: lighter;
}

.transactions hr{
    background:#0F2027;
}

ul{
    //display: flexbox;
    //height: 100%;
   
}

li{
    list-style: none;
    margin: 1%;
    
}






// ======================= Total Section (Bottom) =======================================



#sub-grid2{
    //border: solid;
    //border-color: black;
    grid-area: sub-grid2;
    grid-row-start: 3;

}
.total{
    padding: 2%;
    background: #26384A;
    width: 100%;
}


#total-btn1{

    grid-area: total-btn1;
}
#total-btn2{
    
    grid-area: total-btn2;
}
#total-btn3{
    
    grid-area: total-btn3;
}
#total-btn4{
    
    grid-area: total-btn4;
}
#total-btn5{
    
    grid-area: total-btn5;
}
#total-btn6{
    
    grid-area: total-btn6;
}
#total-btn7{
    
    grid-area: total-btn7;
}



.total #total-btn1, #total-btn2, #total-btn3{
    width: 32.5%;
    margin:1px
}

.total #total-btn4, #total-btn5, #total-btn6, #total-btn7 {
    width: 24.5%;
    margin:1px
}

.total .btn{
    height: 78px;
}

.font-1{

    color: #12c912;
}
.font-2{
    
    color: #fcc203
}
.font-3{
    
    color: #6abbde
}
.font-4{
    
    color: red;
}
.font-5{
    
    color: #0077ff;
}
.font-6{

    color:#939b9e;
    
}
.font-7{
    
    color:#f0f2f2;
}


    


       