<div class="card container">


  <nav class="card" id="nav1">


    <div ngbDropdown class="d-inline-block">
      <a style="padding: 2%;" id="dropdownBasic1" ngbDropdownToggle>Breakfast</a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>
 
  
  </nav>



  <nav class="card" id="nav2">Navbar2</nav>
  <nav class="card" id="nav3">
    <h3 style="text-align: center; color: white; font-weight: lighter; margin: 0;">EarthFoods Bistro</h3>
  </nav>
  <div class="card" id="sidebar">
    <ul>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Mains</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Breakfast</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Soups</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Pizza</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Lunch</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Drinks</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Desert</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Beer</button></li>
    </ul>
  </div>
  <div class="card" id="contents1">
    <div class="items" style="display: inline-flex; flex-wrap: wrap;">
      <button *ngFor="let b of breakfast" class="btn btn-success" value={{b.price}} id={{b.name}} type="submit"(click)="submit($event)" >{{b.name}} <br> {{b.price}}</button>
   




    </div>
  </div>
  <div class="card" id="contents2">
    <div class="transactions" id="sub-grid1" style="color: white;">
      <p *ngFor="let t of checkout"><span style="float: left;">{{t.name}} - {{t.occurence}}x </span>   <span style="float: right;">$ {{t.price}} </span> </p>
      
      
 
    </div>

    <br><br><br><br> <br><br><br> <br><br><br>

    <div class="total" id="sub-grid2">

      <h6 style="margin: 5%; color:white; font-weight: lighter;">Total: ${{balance}}</h6>
      

      <button class="btn btn btn-dark" type="submit" id="total-btn1">Card</button>
      <button class="btn btn btn-dark" type="submit" id="total-btn2">Cash</button>
      <button class="btn btn btn-dark" type="submit" id="total-btn3">Other</button>

      <button class="btn btn btn-dark" type="submit" id="total-btn4" (click)="clear()">Clear</button>
      <button class="btn btn btn-dark" type="submit" id="total-btn5">Button5</button>
      <button class="btn btn btn-dark" type="submit" id="total-btn6">Button6</button>
      <button class="btn btn btn-dark" type="submit" id="total-btn6">Button7</button>

    </div>


  </div>




</div>





<!--  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar w/ text</a>
    </div>
  </nav>

  <div class="catergories">
    <ul>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
    </ul>
  </div>

  <div class="items">
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
  </div>

  <div class="transactions">
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
  </div>

  -->

<router-outlet></router-outlet>