<div class="card container">


  <nav class="card" id="nav1">


    <div ngbDropdown class="d-inline-block">
      <a style="padding: 2%;" id="dropdownBasic1" ngbDropdownToggle>Breakfast</a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>
 
  
  </nav>



  <nav class="card" id="nav2">Navbar2</nav>
  <nav class="card" id="nav3">
    <h3 style="text-align: center; color: white; font-weight: lighter; margin: 0;">EarthFoods Bistro</h3>
  </nav>
  <div class="card" id="sidebar">
    <ul>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
    </ul>
  </div>
  <div class="card" id="contents1">
    <div class="items" style="display: inline-flex; flex-wrap: wrap;">
      <button class="btn btn-success" value="1.50" id="Cheese Burger" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="2.00" id="Hamburger" type="submit" (click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="3.00" id="French Fries" type="submit" (click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="4.00" id="Tater Tots" type="submit" (click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="5.00" id="Cheese Pizza" type="submit" (click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="6.00" id="Peperonni Pizza" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="7.00" id="Tacos" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="8.00" id="Spagetti" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="9.00" id="Mozzarella sticks" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="10.00" id="Spinach cheese dip with chips" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="11.00" id="Mac & cheese" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="12.00" id="Cheddar Biscuits" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="13.00" id="Salad" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="14.00" id="Baked potato" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="15.00" id="Chicken parmesan" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="16.00" id="Flatbread pizza" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="17.00" id="Chicken fingers" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="18.00" id="Tomato soup" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="19.00" id="Lobster Bisque Soup" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="20.00" id="Grilled cheese" type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="21.00" id="BBQ Nachos"type="submit"(click)="submit($event)" >Button</button>
      <button class="btn btn-success" value="22.00" id="Nachos" type="submit"(click)="submit($event)" >Button</button>




    </div>
  </div>
  <div class="card" id="contents2">
    <div class="transactions" id="sub-grid1" style="color: white;">
      <p *ngFor="let t of checkout"><span style="float: left;">{{t.name}} </span>   <span style="float: right;">{{t.price}} </span> </p>
      
      
 
    </div>

    <br><br><br><br> <br><br><br> <br><br><br>

    <div class="total" id="sub-grid2">

      <h6 style="margin: 5%; color:white; font-weight: lighter;">Total: ${{balance}}</h6>
      

      <button class="btn btn btn-dark" type="submit" id="total-btn1">Card</button>
      <button class="btn btn btn-dark" type="submit" id="total-btn2">Cash</button>
      <button class="btn btn btn-dark" type="submit" id="total-btn3">Other</button>

      <button class="btn btn btn-dark" type="submit" id="total-btn4" (click)="clear()">Clear</button>
      <button class="btn btn btn-dark" type="submit" id="total-btn5">Button5</button>
      <button class="btn btn btn-dark" type="submit" id="total-btn6">Button6</button>
      <button class="btn btn btn-dark" type="submit" id="total-btn6">Button7</button>

    </div>


  </div>




</div>





<!--  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar w/ text</a>
    </div>
  </nav>

  <div class="catergories">
    <ul>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
      <li class="cat-button"><button class="btn btn-primary" type="submit">Button</button></li>
    </ul>
  </div>

  <div class="items">
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
    <button class="btn btn-success" value="1" type="submit">Button</button>
  </div>

  <div class="transactions">
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
    <p>This is a mock purchase from the EarthFoods Distro</p>
    <hr>
  </div>

  -->

<router-outlet></router-outlet>