*, html, body{
   margin: 0;
   padding: 0;
}



.container{
    display: grid;
    margin: auto;
    width: 100%;
    height: 100vh;
   
    padding: 5px;
    background: #292e49;
    
    grid-template-columns: 0.33fr 2fr 1.5fr;
    grid-template-rows: 0.75fr 0.5fr 6fr;
    grid-template-areas: 
    
    "nav3 nav3 nav3"
    "nav1 nav1 nav2"
    "sidebar contents1 contents2"
    ;

    grid-gap: .3rem;
}

#nav1{
    background:#24243e;
    grid-area: nav1;
}

#nav2{
    background:#24243e;
    grid-area: nav2;
}

#nav3{
    background: #292e49;
    //border: 1px solid blue;
    grid-area: nav3;
}

#sidebar{
   
    background:#2c3e50;
    grid-area: sidebar;
}

#contents1{
    background:#0F2027;
    grid-area: contents1;
}

#contents2{
    background:#2c3e50;
    grid-area: contents2;
}

#contents3{
    background:lightsteelblue
}



footer{
    background:lightgreen
}
.catergories{
    border:solid;
   
}
.items{
    //border:solid;
    
}
.transactions{
    
   
}

ul{
    display: flexbox;
    height: 100%;
   
}

li{
    list-style: none;
    margin: 1%;
    
}
ul li {
    width: 100%;
}

.btn-primary{
       // margin:1%;
       background:#2c3e50;
        width: 100% !important;
        height: 91px !important;
        text-align: center;
        font-size: 10px;
}

.btn-success{
    background:#2c3e50;
    width: 20% !important;
    height: 92px !important;
    text-align: center;
    font-size: 10px;

   }

    


       